.contact{
    padding: 50px 0px;
}
#contact{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}
#social{
    display: flex;
    margin-top: 10px;
}

#linkedin{
    cursor: pointer;
    margin-right: 20px;
}
#git{
    cursor: pointer;
}
#cont>div{
    display: flex;
    margin-top: 10px;
}
#cont span{
    font-size: 20px;
    margin-right: 10px;
}
#formlabel{
    font-size: 20px;
    font-weight: 600;
}
#form{
    display: flex;
    width: 100%;
    flex-direction: column;
}
#form input{
    border-radius: 5px;
   margin: 5px 0px;
   height: 25px;
   border: 1px solid gray;
}
#form textarea{
    border-radius: 5px;
    margin: 5px 0px;
    height: 100px;
}
#form button{
    border-radius: 5px;
    margin: 5px;
    height: 30px;
    background-color: white;
    border: transparent;
    cursor: pointer;
}
@media only screen and (max-width:600px){
    #contact{
        width: 80%;
        margin: auto;
        flex-direction: column;
        justify-content: center;
    }
    #cont>div{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width:400px){
    #contact{
        width: 90%;
    }
}